:root {
	--body-gradient: linear-gradient(to bottom right, rgb(27, 20, 66), rgb(16, 13, 36));
	--body-color: rgb(27, 20, 66);
	--background-color: rgb(17, 11, 31);
	--border-color: rgb(44, 170, 187);
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	list-style: none;
	color: white;
}

body {
	background-image: var(--body-gradient);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	background-color: var(--background-color);
	box-shadow: 5px 5px 10px rgb(0, 0, 0);
	padding: 30px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 500px;
}

.box > * {
	margin: 15px 0;
}

.box img {
	border: 5px solid var(--border-color);
	border-radius: 50%;
}

.box-text {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.box-text > * {
	margin: 5px 0;
}

.box-text h1 {
	font-size: 24px;
	margin: 10px 0;
}

.box-text h2,
.box-text h3 {
	font-size: 16px;
	font-weight: 100;
}

.social-icons {
	width: 300px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.social-icons i {
	border: 2px solid var(--border-color);
	border-radius: 5px;
	padding: 10px;
	transition: all 0.1s ease-in-out;
	color: var(--border-color);
}

.social-icons i:hover {
	background-color: var(--border-color);
	color: var(--body-color);
}

.skills {
	margin-top: 50px;
	font-size: 14px;
}

.skills h2 {
	font-size: 16px;
}

.skills-list {
	display: flex;
	flex-wrap: wrap;
}

.skills-list > * {
	border: 1px solid var(--body-color);
	margin: 10px 10px 5px 0;
	padding: 5px;
	transition: all 0.1s ease-in-out;
}

.skills-list > *:hover {
	color: var(--body-color);
	background-color: white;
	cursor: default;
}
