/* Geral */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}


/* Textos */
h1 {font-size: 50px;}
h2 {font-size: 40px;}
h3 {font-size: 24px;}
p  {font-size: 18px;}


/* Elementos */
header {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    height: 100vh;
}

nav {
    text-align: right;
    font-weight: 600;
	position: fixed;
	background-color: dodgerblue;
	width: 100%;
}

section {
    padding: 30px 0;
}


/* Classes */
.contact-icon {
    padding: 30px 0;
}

.contact-icon img {
    padding: 0 10px;
}

.header-text {
    padding-top: 25vh;
    width: 70%;
    margin: auto;
}

.header-text-item {
    padding: 5px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.nav-list li {
    display: inline-block;
    padding: 10px;
}

.projetos-links {
	text-align: center;
}

.projetos-list li {
    display: inline-block;
	background-color: tomato;
	padding: 100px;
	margin: 10px;
}

.section-text {
    padding: 10px 20px;
}
