* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}

body {
	background-image: linear-gradient(90deg, #1fc8db 0%, #2cb5e8 50%);
}

header {
	color: white;
}

main {
	background-color: white;
	border-radius: 20px 20px 0 0;
	padding: 15px;
	height: 100vh;
}

h1 {
	color: rgb(0,110,160);
	font-size: 24px;
	font-family: Verdana;
	padding-bottom: 10px;
}

h2 {
	color: rgb(100,100,100);
	font-size: 14px;
	font-family: Verdana;
}

.contas {
	padding-top: 10px;
}

.ver-contas {
	color: orange;
	text-align: right;
	font-size: 12px;
	font-family: Verdana;
}

.conta1 {
	display: flex;
	padding: 10px 0;
}

.conta2 {
	display: flex;
	padding: 10px 0;
}

[class*="-nome"] {
	font-size: 14px;
	font-weight: 700;
	color: rgb(100,100,100);
	width: 50%;
}

[class*="-valor"] {
	font-size: 16px;
	font-weight: 800;
	color: rgb(180,180,180);
	width: 50%;
	text-align: right;
}


.fgts {
	float: left;
	font-weight: 800;
	padding: 10px;
}

.caixa {
	float: right;
	font-weight: 800;
	padding: 10px;
}

.hero {
	clear: both;
	text-align: center;
	padding: 40px;
}

.hero p:first-child {
	font-size: 16px;
	font-weight: 100;
}

.hero p:last-child {
	font-size: 26px;
	font-weight: 800;
}	