@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$body-gradient: linear-gradient(to bottom right, rgb(27, 20, 66), rgb(16, 13, 36));
$body-color: #1b1442;
$background-color: #110b1f;
$border-color: #2caabb;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	list-style: none;
}
